// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 23px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: 600px;
  padding: 10px 0;
}

#btn {
  color: white;
  border: 1px solid white;
  padding: 4px 10px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  width: fit-content;

}

#btn:hover {
  opacity: 1;
  box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.582);
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: none;
}
