<div class="container">
  <div class="header"><h2>Check out your bookings!</h2></div>
  <hr>
  <% @bookings.each do |booking| %>
    <div class="bookings">
      <li>
        <div class="bookings-index-content">
          <p>You have booked <strong> <%= booking.desk.title %> </strong> on <strong> <%= booking.booked_on %> </strong></p>
          <div class="btn btn-normal"><%=link_to "See booking details", booking_path(booking) %></div>
        </div>
      </li>
      <hr>
  	</div>
  <% end %>
</div>
