<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card-trip">
    <% @desks.each do |desk| %>
    <%= cl_image_tag desk.photo.key %>
    <div class="card-trip-infos">
      <div>
        <h2><%=link_to desk.title, desk_path(desk) %></h2>
        <p><%=desk.description%></p>
      </div>
      <h2 class="card-trip-pricing"><%= (desk.price/100).round%>€</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
    <% end %>
  </div>
</div>
</body>
</html>
