<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index of Desks</title>
</head>
<body>
  <div class="container">
    <h1>Showing you all Desks</h1>
      <% @desks.each do |desk| %>
        <li>
          <%=link_to desk.title, desk_path(desk) %>
        </li>
      <% end %>
  </div>
</body>
</html>
