<div class="d-flex flex-column min-vh-100">
<%#= render "./layouts/navbar" %>
<div class="banner flex-grow-1" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>Dream Desks - find your <strong>ideal buddy and workspace</strong> in a <strong>matter of clicks</strong> in your neighbourhood!</h1>
    <p>Change your life and explore the new way of working.</p>
    <div class="btn btn-cta" id="btn-home"><%= link_to "Find your Dream Desk >>", desks_path %></div>
  </div>
</div>
<%#= render "./layouts/footer" %>
</div>
