<h1> Requests and Bookings for: <%= @desk.title %></h1>
<% @bookings.each do |booking| %>
<%= booking.booked_on %>
<% end %>
<div class="btn btn-normal"><%= link_to "Back to all of my desks", ownerlistings %></div>
