.btn-normal {
  background-color: #99A799;
  border-radius: 7px;
  color: white;
  padding: 2px;
  box-shadow: 0px 0px 3px black;
}

.btn {
  color: white;
}

.btn-normal a {
  color: white;
  text-decoration: none;
}

.btn-normal:hover {
  background-color: #7c887c;
  box-shadow: 0px 0px 4px black;
}
