.btn-normal {
  border-radius: 18px;
  padding: 5px 10px;
  border: 1px solid #ADC2A9;
}

.btn {
  color: #ADC2A9;
}

.btn:hover {
  color: #99A799;
}

.btn-normal a {
  text-decoration: none;
  color: #ADC2A9;
}

// .btn-normal a:hover {
//   text-decoration: none;
//   color: #99A799;
// }

.btn-normal:hover {
  color: #99A799;
  border: 1px solid #99A799;
  box-shadow: 0px 0px 1px black;
  a {
    text-decoration: none;
    color: #99A799;
    // text-shadow: 0px 0px 1px black;
  }
}
