.cards {
  display: flex;
  flex-wrap: wrap;
}

.card-trip {
  align-items: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  width: 31.5%;
  margin-bottom: 7px;
  margin-top: 7px;
  margin-right: 7px;
  margin-left: 7px;
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.293);
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}



.card-trip p {
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.card-trip p {
  color: black;
}

.bookings-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  p {
    color: black
  }
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.293);
  }
}

.bookings-card-mid {
  flex-grow: 1;
  line-height: 40px;
  padding-left: 10px;
  p {
    margin: 0
  }
}

.bookings-card-bottom {
  padding-right: 10px;
  margin-top: 92px;
}
