.cards {
  display: flex;
  flex-wrap: wrap;
}

.card-trip {
  align-items: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  width: 31.89%;
  margin-bottom: 7px;
  margin-top: 7px;
  margin-right: 7px;
  margin-left: 7px;
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.293);
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}



.card-trip p {
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.card-trip p {
  color: black;
}

.bookings-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  p {
    color: black
  }
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.293);
  }
}

.bookings-card-mid {
  flex-grow: 1;
  line-height: 40px;
  padding-left: 10px;
  p {
    margin: 0
  }
}

.bookings-card-bottom {
  position: relative;
  img {
    height: 45px;
    width: 45px
  }
  .price {
    position: absolute;
    top: 33px;
    right: 13px;
    width: max-content;
  }
  .avatar-bordered {
    position: absolute;
    bottom: 7px;
    right: 10px
  }
  .sings {
    padding-top: 20px;
    position: absolute;
    right: 105px;
    bottom: -57px;
  }
}

#booking-avatar img {
  height: 100px;
  width: 100px;
  margin-left: 5px;
}

.slot {
  height: 20px;
  width: 20px;
  position: relative;
}

.buttons {
  height: 100%;
  margin-top: 10px;
  justify-content: stretch;
  align-items: right;
  margin-right: 7px;
  padding-top: 5px
}

.sign {
  text-align: right;
}

.button-con {
  height: 68px;

}
