.form-control {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(153, 152, 152);
}


.form-container h2 {
  background: #7e8a7e;
	// text-transform: uppercase;
	color: white;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}

.form-container {
  color: #7e8a7e;
  font-weight: bolder;
  width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	}
