.booking-show-card {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 15px #adc2a96b;
  padding: 20px 20px;
  width: 600px;
  margin: 0 auto;
}

.bookings-index-content {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.bookings {
  margin: 20px 20px;
}

.header {
  color: #99A799;
}
